version: 1.0.{build}
image: Visual Studio 2022

install:
  - choco install windowsdriverkit11 -y

build_script:
  - msbuild Egida.sln /p:Configuration=Release /p:Platform=x64 /verbosity:minimal

artifacts:
  - path: x64\Release\Egida.sys
    name: EgidaDriver
  - path: x64\Release\Egida.inf
    name: EgidaInf
