version: 1.0.{build}
image: Visual Studio 2022

install:
  - choco install windows-sdk-10-version-2004-all -y
  - choco install windowsdriverkit10 -y

before_build:
  - nuget restore Egida.sln

build:
  project: Egida.sln
  verbosity: minimal

configuration: Release
platform: x64

artifacts:
  - path: x64\Release\Egida.sys
